EXPO_PUBLIC_SUPABASE_URL=https://ghendeqnxybayhzhsjgz.supabase.co
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_viEiVYReiibxFFdN_qALZA_x1eQYWYa
EXPO_PUBLIC_WEB_URL=https://elenaess.github.io/biblioteca-da-tipologia/
